@font-face {
    font-family: Fixedsys;
    src: url(../fonts/fixedsys.ttf);
}

html {
    background-color: #EEE8D5;
    font-family: Fixedsys, sans-serif;
    margin: 1em;
    color: #657B83;
}

body {
    background-color: #FDF6E3;
    margin: 0 auto;
    max-width: 960px;
    border: 1px solid #657B83;
    padding: 1em;
}

#wrapper {
    
}

h1 {
    font-size: 2.8em;
    color: #CB4B16;
    text-shadow: 1px 1px #B58900;
}

h2 {
    font-size: 2.4em;
    color: #B58900;
}
h3 {
    font-size: 1.8em;
    font-weight: normal;
}

a, a:visited {
    color: #B58900;
    text-decoration: none;
}

a:hover {
    color: #CB4B16;
    text-decoration: underline;
}

a:active {
    color: #CB4B16;
}

ul {
    list-style-type: none;
}