@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);
@font-face {
    font-family: Fixedsys;
    src: url(../fonts/fixedsys.ttf);
}
html {
    background-color: #EEE8D5;
    font-family: Fixedsys, sans-serif;
    margin: 1em;
    color: #657B83;
}

body {
    background-color: #FDF6E3;
    margin: 0 auto;
    max-width: 960px;
    border: 2px solid #93A1A1;
    padding: 1em;
}

#wrapper {
    
}

h1 {
    font-size: 2.8em;
    color: #CB4B16;
    text-shadow: 2px 2px #B58900;
}

h2 {
    font-size: 2.4em;
    color: #859900;
}
h3 {
    font-size: 1.8em;
    font-weight: normal;
}

a {
    color: #B58900;
}
a:visited {
    color: #CB4B16;
}
a:hover {
    color: #CB4B16;
}

ul {
    list-style-type: square;
}