#fire {
    margin: 0 auto;
    max-width: 888px;
}

#sounds {
    margin: 0 auto;
    max-width: 888px;
}

#music {
    display: inline-block;
    margin: 0 auto;
}

#rain {
    display: inline-block;
    margin: 0 auto;
}